html { 
    height: auto;
    /* to remove bounce on some navigators */
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    flex-direction: row;
}

li, a{
    list-style-type: none;
    text-decoration: none;
}

#container_navbar{
    width: 10%;
    height: 100%;
    overflow-y: scroll;
    position: fixed;
    border-right: 1px solid black;
}

article{
    margin-left: 15%;
    width: auto;
    height: auto;
}





/*article de la page html*/
#article_html{}

#article_html h2,h3, #article_html ul{
    text-align: center;
}

#article_html div{}

#article_html #container_box{
    table-layout: fixed;
    display: flex;
    width: 100%;
}

.box_1{
    border: solid black 1px;
    overflow: auto;
    width: 50%;
}

.box_1 ul{
    margin-top: 10%;
}

.box_2{
    border: solid black 1px;
    overflow: auto;
    width: 50%;
}

#article_html #lien, #article_html #lien ul{
    justify-content: center;
    display: flex;
}


/* fin de l'article (html)*/


/*article de la page body*/

#article_body{}

#article_body h2,h3, #article_body ul{
    text-align: center;
}

#article_body div{}

#article_body #container_box{
    table-layout: fixed;
    display: flex;
    width: 100%;
}

.box_1{
    border: solid black 1px;
    overflow: auto;
    width: 50%;
}

.box_2{
    border: solid black 1px;
    overflow: auto;
    width: 50%;
}

#article_body #lien, #article_body #lien ul{
    justify-content: center;
    display: flex;
}

/*fin de l'article (body)*/




